body,
html {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  color: #555;
  font: 400 14px Arial, Helvetica, sans-serif; }

a img {
  border-width: 0; }

p code,
li code {
  font-weight: 700;
  color: #000; }

pre code {
  background: transparent; }

header,
nav,
section,
article,
aside,
footer {
  display: block; }

code,
em {
  font-family: "Roboto Mono", "Ubuntu Mono", "Consolas", "Monaco", monospace; }

.TK-Hat {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #eff0f1;
  color: #4d4f52;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; }

.TK-Hat::after {
  content: "";
  clear: both;
  display: block; }

.TK-Hat *,
.TK-Hat:after,
.TK-Hat:before {
  box-sizing: border-box; }

.TK-Hat-Brand {
  float: left;
  width: 150px;
  margin: 0; }

.TK-PRGS-Logo {
  display: block;
  outline: none !important;
  text-decoration: none !important;
  transition: color .1s linear, background .1s linear, opacity .1s linear; }

.TK-PRGS-Logo:focus,
.TK-PRGS-Logo:hover {
  opacity: .75; }

.TK-PRGS-Logo svg {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

@media only screen and (max-width: 1100px) and (min-width: 880px) {
  .TK-Hat-Brand {
    width: 120px;
    min-width: 120px; } }

@media only screen and (max-width: 880px) {
  .TK-Hat-Brand {
    width: 100px;
    min-width: 100px; } }

/* Header */
#page-header {
  width: 100%;
  height: 77px;
  box-sizing: border-box;
  font-size: 12px;
  top: 41px;
  left: 0;
  z-index: 100;
  position: fixed;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center; }

/* adjust anchors for fixed header*/
:target:before {
  content: "";
  display: block;
  height: 125px;
  margin: -125px 0 0; }

#page-header:after {
  display: block;
  content: "";
  clear: both; }

#page-header a {
  text-decoration: none; }

#page-edit-link {
  transition: width .2s linear .3s;
  position: absolute;
  z-index: 10;
  right: 36px;
  top: 70px;
  width: 26px;
  height: 17px;
  margin: 0;
  padding: 9px 10px 10px 0;
  text-decoration: none;
  text-align: center;
  border-radius: 0;
  background-color: #fff;
  color: #787878;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #e8ebef;
  border-radius: 20px; }

#page-edit-link span {
  padding: 0 8px 0 10px; }

#page-edit-link:hover {
  transition: width .2s linear .3s;
  width: 130px;
  color: #000; }

#logo-bar {
  -webkit-flex: 1;
  flex: 1;
  margin-left: 15px; }

.logo {
  width: 262px;
  max-width: 100%; }

.nav-buttons {
  float: right;
  padding-right: 15px;
  padding-left: 15px; }

#page-header a.btn {
  margin-left: .3em; }

/* Topic navigation */
#page-nav {
  position: fixed;
  top: 119px;
  bottom: 0;
  left: 0;
  width: 18%;
  min-width: 290px;
  overflow: auto;
  background: #f3f5f7;
  border-right: 1px solid #e8ebef;
  z-index: 10;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#page-nav .k-item > .k-group {
  /* simplifies scroll positioning */
  position: static; }

#page-nav .new-navigation-item,
#page-nav .k-state-selected .new-navigation-item {
  float: left;
  font-size: 10px;
  font-weight: bold;
  margin: 12px 10px 12px 0;
  padding: 0px 4px;
  border-radius: 2px;
  background-color: #00b312;
  color: #ffffff; }

#page-nav .k-state-selected .new-navigation-item {
  color: #00b312;
  background-color: #ffffff; }

/* Table of contents */
#markdown-toc {
  border-bottom: 1px solid #ebecee;
  position: fixed;
  background-color: #fff;
  top: 118px;
  z-index: 5;
  right: 0;
  font-size: 12px;
  padding-left: 5.8em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

#markdown-toc ul {
  margin: 0;
  padding: 0;
  list-style: none; }

#markdown-toc > ul > li {
  display: inline-block;
  position: relative; }

#markdown-toc li > ul {
  position: absolute;
  max-height: 400px;
  width: 500px;
  overflow: auto;
  background: #fff;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
  padding: 1em 0; }

#markdown-toc a {
  padding: 0 14px;
  text-decoration: none;
  line-height: 1.8em; }

#markdown-toc a:hover {
  text-decoration: underline; }

#markdown-toc code,
#markdown-toc em {
  display: none; }

#markdown-toc .section > a {
  line-height: 50px;
  font-size: 1.1em;
  font-weight: bold;
  display: inline-block;
  padding-right: 30px;
  background: transparent url(../images/arrow.png) 90% 50% no-repeat; }

#markdown-toc .section > a:hover {
  background-color: #f5f7f8;
  text-decoration: none; }

#markdown-toc .section > a {
  color: #e50870; }

/* Article pages */
#page-inner-content:after {
  content: " ";
  font-size: 0;
  line-height: 0;
  clear: both;
  display: block; }

#page-article {
  margin: 0;
  padding: 30px 2em 4em 18%;
  max-width: 100em;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-overflow-scrolling: touch; }

#markdown-toc {
  left: 18%; }

#page-article article {
  max-width: 930px;
  margin: 30px 1em 4em 6em; }

#page-article img {
  display: block;
  max-width: 100%;
  margin: 2em auto; }

a,
p a code,
li a code {
  color: #1976d2;
  text-decoration: none; }

a:hover,
p a:hover code,
li a:hover code {
  color: #1565c0;
  text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #000;
  text-decoration: none;
  letter-spacing: -0.04em; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  padding-left: 25px;
  margin-left: -25px; }

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: none;
  background: transparent url(../images/anchor.png) no-repeat 0 50%; }

h1 a.type-link,
h1 a.type-link:hover,
h3 a.type-link,
h3 a.type-link:hover,
h5 a.type-link,
h5 a.type-link:hover {
  background: none;
  padding: 0;
  margin: 0; }

h1 span.type-link {
  display: block;
  font-size: 12px; }

h1 span.type-link a {
  color: #666; }

a.type-link {
  text-decoration: none; }

a.type-link:hover {
  background: none;
  padding: 0;
  margin: 0; }

a.type-link code {
  color: #1976d2;
  font-size: .9em; }

p a.type-link code {
  font-size: 1em; }

a.type-link:hover code,
h1 span.type-link a:hover {
  color: #1565c0; }

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.2em;
  margin-top: 30px;
  margin-bottom: 12px; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 26px;
  font-weight: 500;
  margin-top: 42px; }

h3 {
  font-size: 18px;
  font-weight: 500; }

h4 {
  font-size: 16px;
  font-weight: 500; }

h5 {
  font-size: 15px;
  font-weight: 500; }

h6 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700; }

#markdown-toc + #page-article {
  /* adjust for ToC fixed positioning */
  padding-top: 80px; }

#markdown-toc + #page-article :target:before {
  content: "";
  display: block;
  height: 175px;
  margin: -175px 0 0; }

#markdown-toc + #page-article h1 {
  margin: 0; }

#markdown-toc + #page-article h1 + p {
  margin: 0; }

#markdown-toc + #page-article h3 {
  margin-bottom: 3px;
  font-size: 16px;
  letter-spacing: normal; }

#markdown-toc + #page-article h3 a {
  color: #e50870;
  letter-spacing: normal; }

#markdown-toc + #page-article h3 + p,
#markdown-toc + #page-article h4 + p,
#markdown-toc + #page-article h5 + p {
  margin-top: 0; }

#markdown-toc + #page-article h4 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 6px;
  color: #333; }

#markdown-toc + #page-article h5 {
  margin-top: 6px;
  margin-bottom: 0; }

#markdown-toc + #page-article h5 code {
  color: #3e526b; }

#markdown-toc + #page-article h5 a code {
  color: #1976d2; }

h1 + p {
  font-size: 18px; }

h3 code,
h3 em {
  color: #666;
  font-size: 14px; }

h3 code {
  margin-left: 4px; }

h3 a:first-child + a code:before {
  content: "-";
  margin-right: 7px;
  color: #ccc; }

h3 > code:first-child:before {
  content: "|";
  margin-right: 7px;
  color: #ccc; }

h3 em {
  font-style: normal;
  font-weight: 500; }

p {
  margin: 12px 0; }

ul,
ol {
  margin: 12px 0 30px; }

blockquote {
  padding: 10px 30px;
  margin: 30px 0;
  min-height: 70px;
  position: relative;
  box-sizing: border-box; }

blockquote table {
  border: 0;
  border-collapse: collapse; }

blockquote th,
blockquote td {
  padding: .5em; }

.prettyprint {
  font-size: 13px;
  padding: 20px;
  border: 1px solid transparent;
  overflow: hidden;
  word-break: break-word;
  clear: both;
  margin: 12px 0 30px; }

.prettyprint code {
  display: block;
  overflow-x: auto;
  padding: 0;
  line-height: 18px;
  font-family: "Roboto Mono", "Ubuntu Mono", "Consolas", "Monaco", monospace;
  font-weight: normal; }

.prettyprint code .hljs {
  background-color: transparent; }

#page-article table {
  width: 100%;
  margin-top: 1.2em;
  border: 1px solid #e1e5ea;
  border-collapse: collapse;
  border-spacing: 0; }

#page-article table tr {
  background-color: #fff; }

#page-article table th,
#page-article table td {
  padding: 3px 5px; }

#page-article table td {
  background: #fff;
  border: 1px solid #e1e5ea;
  color: #555; }

#page-article table th {
  background: #f3f5f7;
  color: #000;
  text-align: left; }

.tag-neutral,
.tag-success,
.tag-error,
.tag-warning {
  display: inline-block;
  min-width: 25px;
  padding: 0 4px;
  border-radius: 3px;
  font-size: 13px;
  text-align: center; }

.tag-neutral {
  background-color: #ececec;
  color: #000; }

.tag-success {
  background-color: #00b312;
  color: #fff; }

.tag-error {
  background-color: #ff1744;
  color: #fff; }

.tag-warning {
  background-color: #ff9600;
  color: #fff; }

#page-toc + ul {
  padding-left: 0; }

#page-toc + ul li {
  list-style: none;
  margin-left: 0; }

#page-toc + ul li a {
  text-decoration: none; }

#page-toc + ul li a:hover {
  text-decoration: underline; }

#page-toc + ul > li {
  margin-bottom: 7px; }

#page-toc + ul ul {
  padding-left: 10px; }

#page-toc + ul ul > li {
  margin-bottom: 0; }

/* Footer */
footer {
  padding: 20px 0;
  box-sizing: border-box;
  border-top: 1px solid #ebecee; }

footer p {
  margin: 0;
  padding: 0;
  font-size: 12px; }

/* Search */
#page-header #page-search {
  margin: 0;
  position: absolute;
  top: 23px;
  background-color: transparent;
  padding: 0;
  right: 435px;
  text-align: right;
  left: 18%;
  margin-left: 85px;
  max-width: 930px; }

#page-search > div {
  text-align: left;
  display: inline-block;
  width: 100%; }

#page-search form {
  margin-bottom: 0; }

#page-search table {
  margin: 0;
  padding: 0;
  border: none; }

#page-search table td {
  border: none; }

#page-search form {
  box-shadow: 3px 3px 19px rgba(0, 0, 0, 0.1); }

#page-search .gsc-input-box {
  box-shadow: none;
  border: 0;
  height: auto; }

#page-search .gsc-input td + td {
  display: none; }

#page-search table.gsc-search-box td {
  background-color: #fff;
  padding: 0; }

#page-search table.gsc-search-box td.gsc-input {
  background-color: #fff;
  padding: 0 5px 0 10px; }

#page-search .gsc-control-cse {
  background: none;
  border: 0;
  padding: 0; }

#page-search .gsc-input {
  background-image: none !important;
  padding-right: 2px; }

#page-search td.gsc-search-button {
  background: transparent url(../images/search.png) no-repeat 50% 50%;
  cursor: pointer; }

#page-search input.gsc-search-button {
  border-radius: 0;
  margin: 0;
  border: 0;
  background: none;
  opacity: 0;
  padding: 8px 7px 7px; }

.toggle-nav,
.show-search {
  padding: 15px;
  display: none;
  cursor: pointer; }

#page-nav.nav-visibility {
  display: block; }

#page-header #page-search.search-visibility {
  display: block; }

.show-search {
  display: none; }

.k-tabstrip {
  border: 1px solid #ccc; }

.k-tabstrip .k-link {
  padding: 0; }

.k-tabstrip .k-content,
.k-tabstrip .k-loading {
  border: 0; }

.k-tabstrip .k-tabstrip-items {
  padding: 0;
  border-bottom: 1px solid; }

.k-tabstrip .k-item {
  border-width: 0 1px 0 0;
  border-style: solid;
  font-weight: bold;
  font-size: 14px;
  padding: .72em 1.5em;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease; }

.k-tabstrip .k-content pre {
  border: 0;
  padding: 0;
  margin: 1em 0; }

/* Responsive styles */
@media (max-width: 1200px) {
  body {
    min-width: initial; }
  .faux-columns {
    background-image: none; }
  #page-edit-link {
    display: none; }
  #markdown-toc {
    left: 0;
    padding-left: 1.3em; }
  .nav-buttons,
  #page-nav,
  #page-tabs,
  #page-top #page-search {
    display: none; }
  #page-nav {
    min-width: 250px; }
  #page-article {
    margin-left: 0;
    padding-left: 0; }
  #page-article article {
    margin-left: 2em;
    margin-right: 2em; }
  #page-article h1 {
    margin-top: 1em; }
  .toggle-nav {
    display: inline-block; }
  #logo-bar {
    display: inline-block;
    margin-left: 0; }
  #page-header #page-search {
    display: none;
    left: 50px;
    max-width: initial;
    right: 15px;
    margin: 0; }
  #page-search > div {
    padding: 0 3.83em 0 0; }
  .show-search {
    display: inline-block;
    cursor: pointer; }
  #page-header #page-search.search-visibility ~ #logo-bar,
  #page-header #page-search.search-visibility ~ .show-search {
    display: none; }
  .gsc-results-wrapper-overlay {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    box-sizing: border-box; }
  .k-animation-container {
    padding-right: 15px !important; } }

@media (max-width: 600px) {
  #refine-search-label {
    display: none; }
  #refine-search-button .k-icon {
    margin-left: 0 !important; } }

/* List of font icons */
.additional-icons {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.additional-icons:after {
  content: "";
  display: block;
  clear: both;
  height: 0; }

.additional-icons li {
  float: left;
  margin: 0;
  padding: 8px 0px;
  width: 296px;
  text-align: left;
  color: #787878;
  font-size: 13px; }

.icon-preview {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-decoration: none;
  color: #333;
  margin: 0 10px 0 0;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #ebecee;
  background-color: #f5f7f8;
  text-align: center;
  box-sizing: border-box;
  padding: 5px; }

#page-inner-content {
  box-sizing: border-box;
  padding-top: 119px;
  position: relative; }

#page-article {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 4em; }

#page-edit-link {
  margin-top: 120px; }

#res-type-container {
  color: #000;
  font-size: 11px;
  font-family: Arial;
  text-transform: uppercase;
  width: 266px; }

#res-type-container .k-widget.k-dropdown {
  width: initial; }

#res-type-container .k-dropdown-wrap {
  border: none; }

#res-type-container .k-i-arrow-60-down::before {
  content: "\e015" !important; }

.k-list-container.k-popup.k-group.k-reset {
  background: #FFFFFF;
  margin: 8px; }

#refine-search-popup ul {
  margin: 0;
  padding: 0;
  background: #FFFFFF; }

#refine-search-popup li {
  list-style: none; }

#refine-search-popup li:hover {
  background-color: #00b312;
  color: #FFFFFF; }

#refine-search-popup li label {
  padding: 15px 23px 15px 15px;
  cursor: pointer; }

#refine-search-popup li .k-icon {
  color: #00b312; }

#refine-search-popup li:hover .k-icon {
  color: #FFFFFF; }

#refine-search-popup {
  font-size: 11px !important;
  color: black;
  border: none;
  box-shadow: 3px 3px 19px rgba(0, 0, 0, 0.1); }

.custom-checkbox {
  text-transform: uppercase;
  display: block; }

.custom-checkbox input[type="checkbox"] {
  display: none; }

.custom-checkbox span.k-icon {
  opacity: 0; }

.custom-checkbox input[type="checkbox"]:checked ~ span.k-icon {
  opacity: 1; }

.custom-checkbox .k-icon {
  margin-right: 8px;
  font-size: 13px; }

#refine-search-container {
  width: 1px;
  white-space: nowrap; }

#refine-search-button {
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  padding: 7px;
  line-height: normal; }

#refine-search-label {
  font-size: 10px;
  vertical-align: middle; }

#refine-search-button .k-icon {
  margin-left: 10px; }

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.nav-buttons .btn {
  padding: 6px 19px; }

.gsc-results-wrapper-nooverlay {
  margin-top: 30px; }

.gsc-results-wrapper-nooverlay .gsc-orderby {
  display: none; }

.gsc-results-wrapper-nooverlay .gsc-result-info {
  padding: 8px 0; }

.gsc-results-wrapper-nooverlay .gsc-result div {
  padding-left: 0;
  padding-right: 0; }

.gsc-results-wrapper-nooverlay .gsc-result .gs-no-results-result div {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 0;
  margin-right: 0; }

#page-article .gsc-results-wrapper-nooverlay table th,
#page-article .gsc-results-wrapper-nooverlay table td {
  padding-left: 0;
  padding-right: 0; }

#page-search .gs-webResult div.gs-visibleUrl,
#page-search .gs-imageResult div.gs-visibleUrl {
  color: #00b312; }

.gsc-results-wrapper-nooverlay .gsc-cursor-box {
  margin-top: 30px;
  text-align: center; }

.gsc-results-wrapper-nooverlay .gsc-cursor-box .gsc-cursor-page {
  padding: 8px 15px; }

.gsc-results-wrapper-nooverlay .gsc-cursor-box .gsc-cursor-current-page {
  padding: 8px 15px;
  border-style: solid;
  border-width: 1px; }

#page-search .gsc-results {
  width: 100%; }

#page-search .gsc-above-wrapper-area {
  border-bottom: none; }

#page-search .gsc-result-info {
  display: none; }

#page-search #latest-articles {
  margin: 0; }

.k-animation-container {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin-left: 30px;
  overflow: hidden !important; }

#page-header .k-icon {
  font-size: 18px; }

.gsc-result .gs-title {
  height: 1.4em !important; }

#feedback-section-dummy {
  height: 50px;
  color: #FFFFFF;
  display: none; }

#feedback-section {
  background-color: #1976d2;
  color: #FFFFFF;
  font-family: Roboto, Helvetica, Arial, sans-serif; }

#feedback-section.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: .9;
  z-index: 1015; }

#close-button {
  display: none;
  right: 1.2em;
  bottom: 9px;
  position: absolute;
  cursor: pointer; }

#feedback-section.fixed #close-button {
  display: block; }

#close-button img {
  width: 24px;
  height: 24px; }

#feedback-section .side-title {
  font-size: 20px;
  margin-bottom: 0;
  margin-right: 15px;
  flex: 1; }

footer,
#feedback-menu-container {
  max-width: 930px;
  padding: 13px 4em 13px 0; }

footer,
#feedback-menu-container {
  margin-left: 18%;
  padding-left: 6em; }

@media (max-width: 1200px) {
  footer,
  #feedback-menu-container {
    margin-left: 0;
    padding-left: 2em; }
  #feedback-section.fixed {
    position: static;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1; }
  #feedback-section-dummy {
    display: none !important; } }

#helpful-buttons-container,
#feedback-submitted-container {
  font-size: 20px;
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center; }

#helpful-buttons-container .button {
  text-transform: uppercase;
  text-align: center;
  color: #b4daff;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease; }

#yesButton {
  margin-right: 10px; }

#noButton {
  margin-left: 10px; }

#helpful-buttons-container .button:hover {
  text-decoration: none;
  color: #FFFFFF; }

.k-widget.k-window.k-window-titleless {
  width: 460px !important;
  top: 50% !important;
  left: 50% !important;
  margin-left: -230px;
  margin-top: -250px;
  background-color: #FFFFFF;
  border: none;
  position: fixed;
  box-sizing: border-box; }

@media (max-width: 460px) {
  .k-widget.k-window.k-window-titleless {
    padding: 0;
    margin: 0;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important; }
  #feedback-form-window button {
    margin-top: 15px !important; } }

#feedback-form-window {
  max-height: 580px !important;
  padding: 30px 15px 30px 30px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }

#feedback-form-window > * {
  padding-right: 15px; }

#feedback-form {
  -webkit-flex: 1;
  -moz-flex: 1;
  overflow: auto; }

#feedback-form span.required-field:after {
  content: "* required";
  font-size: 11px;
  float: right; }

#feedback-form-window input::-webkit-input-placeholder,
#feedback-form-window textarea::-webkit-input-placeholder,
#feedback-form-window input:-moz-placeholder,
#feedback-form-window textarea:-moz-placeholder,
#feedback-form-window input::-moz-placeholder,
#feedback-form-window textarea::-moz-placeholder,
#feedback-form-window input:-ms-input-placeholder,
#feedback-form-window textarea:-ms-input-placeholder {
  color: #d9d9d9; }

#feedback-form-window .feedback-extw__title {
  margin: 0;
  font-size: 24px; }

#feedback-form-window .feedback-extw__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  text-decoration: none; }

#feedback-form-window p:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.12em;
  font-weight: bold;
  color: #000;
  text-decoration: none; }

#feedback-form textarea {
  margin: 12px 0 0px !important;
  margin-top: 2px !important; }

#feedback-checkbox-area label {
  display: block;
  margin: 5px 0 0;
  padding: 5px 0 0; }

#feedback-checkbox-area #feedback-email-input {
  margin-top: 20px !important; }

#feedback-extw__checkbox:after {
  content: "";
  display: block;
  clear: both; }

#feedback-form .checkbox__input {
  float: left; }

#feedback-form .checkbox__text {
  line-height: 18px;
  margin-left: 5px; }

#feedback-form .feedback-extw__textarea,
#feedback-form .feedback-extw__input {
  padding: 10px;
  border: 1px solid #d9d9d9;
  width: 100%;
  box-sizing: border-box;
  font: inherit;
  font-style: italic; }

#feedback-form .feedback-extw__textarea {
  resize: none; }

#feedback-form .feedback-extw__input,
#feedback-form .feedback-extw__textarea {
  margin: 12px 0 6px; }

#feedback-form-window button {
  margin-top: 30px;
  line-height: 0.933em;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  padding: 0.667em 2.000em;
  background-color: #015991;
  color: #fff;
  border-width: 0;
  cursor: pointer;
  background-clip: padding-box;
  border: 1px solid #015991;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease; }

#feedback-form-window button:hover {
  background-color: #013a5e; }

#form-submit-button {
  margin-left: 5px; }

button#form-close-button {
  background-color: #fff;
  color: #555;
  border: 1px solid #ccc; }

button#form-close-button:hover {
  background-color: #ccc; }

#feedback-form span.k-tooltip {
  border: 0;
  color: #ff0000;
  font-style: italic;
  font-size: 12px;
  padding: 0 0 6px !important; }

.k-treeview .k-content, .k-treeview .k-item>.k-group, .k-treeview>.k-group {
    margin: 0;
    padding: 0;
    background: 0 0;
    list-style-type: none;
}