<% if !list.nil? && list.length>0 %>
<div id="page-nav" style="bottom: 43px;">
    <div id="page-tree" data-role="treeview" class="k-widget k-treeview" tabindex="0">
        <ul class="k-group k-treeview-lines" role="tree">
            <li role="treeitem" class="k-item k-first" >
            <div class="k-top">
                <span class="k-icon k-i-collapse"></span>
                <span class="k-in">API Reference</span>
            </div>
            <ul class="k-group" role="group" style="display: block;">
                <li role="treeitem" class="k-item">
                <div class="k-top">
                    <span class="k-icon k-i-collapse"></span>
                    <span class="k-in">JavaScript</span>
                </div>
                <ul class="k-group" role="group" style="display: block; overflow: visible;">
                <% for menu,v in list.values %>
                    <li role="treeitem" class="k-item" title="<%= description %>" >
                        <div class="k-mid">
                            <span class="k-in">
                            <span class="k-sprite article"></span>
                            <div class="navigation-item-content">
                                <a href="/docs<%= menu["rel_path"] %>"><%= menu["title"] %></a>
                            </div>
                            </span>
                        </div>
                    </li>
                <% end %>
                </ul>
                </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<% end%>
<div id="page-article" style="min-height: 435px;">
    <article>
        <%= body %>
    </article>
</div>